/* :root {
    --main-color: #eab354;
    --secondary-color: #5f787b;
  	--light-color: #e7e4e3;
    --dark-color: #0d1011;
    --grey-color: #262b2b;
} */

/* GruvBox theme https://github.com/gruvbox-community/gruvbox */
:root {
    --main-color: #eab354;
    --main-highlight-color: #ffa930;
    --green: #98971a;

    --dark0_hard: #1d2021;
    --dark0: #282828;
    --dark0_soft: #32302f;
    --dark1: #3c3836;
    --dark2: #504945;
    --dark3: #665c54;
    --dark4: #7c6f64;
    --dark4_256: #7c6f64;

    --gray: #928374;

    --light0_hard: #f9f5d7;
    --light0: #fbf1c7;
    --light0_soft: #f2e5bc;
    --light1: #ebdbb2;
    --light2: #d5c4a1;
    --light3: #bdae93;
    --light4: #a89984;

    --bright_red: #fb4934;
    --bright_green: #b8bb26;
    --bright_yellow: #fabd2f;
    --bright_blue: #83a598;
    --bright_purple: #d3869b;
    --bright_aqua: #8ec07c;
    --bright_orange: #fe8019;

    --neutral_red: #cc241d;
    --neutral_green: #98971a;
    --neutral_yellow: #d79921;
    --neutral_blue: #458588;
    --neutral_purple: #b16286;
    --neutral_aqua: #689d6a;
    --neutral_orange: #d65d0e;

    --faded_red: #9d0006;
    --faded_green: #79740e;
    --faded_yellow: #b57614;
    --faded_blue: #076678;
    --faded_purple: #8f3f71;
    --faded_aqua: #427b58;
    --faded_orange: #af3a03;
    
}

	body, html {
      height:100%;
      margin:0;
      text-align: center;
    background: var(--dark0);
    color: var(--light3);
  }
  
  header {
    color: var(--dark-color);
      background-color: var(--main-color);
  }
  
  #page {
      height: 100%;
      background-color: var(--light-color);
  }
  
  footer {
    color: var(--dark4);
      background-color: var(--dark0_hard);
  }
  
  h1 {
      font-family: 'Lato';
      font-size: 2.4em;
      font-weight: bold;
      line-height: 1.2;
  }
  
  img {
      width: 100%;
      max-width: 100%;
      position: relative;
  }
  
  button, a {
    cursor: pointer;
  }
  
  a {
		text-decoration: none;
    color: var(--neutral_aqua);
  }

a:hover {
	text-decoration: underline;
    color: var(--bright_aqua);
}
  
  button {
    color: var(--dark2);
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: -4px 0;
  }

	button:hover {
		color: var(--dark0);
	}
  
  button.fullwidth {
    width: 100%;
  }
  
  form {
    position: relative;
    border-radius: inherit;
    width: 100%;
  }
  
  input, textarea, select {
    width: 100%;
  }
  
  #app {
    font-family: 'Open Sans', Avenir, Helvetica, Arial, sans-serif;
    /*color: var(--secondary-color);*/
  
    height: inherit;
    min-height: 100%
  }
  
  .section-wrapper {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
  
    height: inherit;
    min-height: 100%;
  }
  
  .top-section {
    flex: 0 0 auto;
  }
  
  .main-section {
    flex: 1 1 auto;
  }
  
  .bottom-section {
    flex: 0 1 auto;
  }
  
  .content {
    width: 100%;
    max-width: 1300px;
    padding: 20px;
    margin: 0 auto;
  
    text-align: inherit;
  }
  
  .content-block-wrapper {
    width: 100%;
  }
  
  .block-wrapper {
    display: flex;
    align-items: center;
  }
  
  .block {
    flex: 1;
  }
  
  .curve-container {
    height: 150px;
    overflow: hidden;
  }
  
  .fieldset {
    margin-bottom: 14px;
    width: 100%;
  }
  
  .fieldset > .fieldset-content {
    width: 100%;
  }
  
  .fieldset > .fieldset-content span {
    vertical-align: middle;
  }
  
  .fieldset .fieldset-label {
    text-align: left;
    font-weight: bold;
  }
  
